.song-container {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 44%;
    /* border: solid black 1px; */
    background-color: white;
    padding: 15px;
}

.songs-container{
    display:flex;
    flex-wrap: wrap;
    gap: 60px;
    flex-direction: row;
    width: 90%;
    margin: 10px auto;
    justify-content: center;
    /* padding: 15px; */
    /* padding: 0; */
}

.comment-container{
    display: flex;
    flex-direction: column;

}

.comments-container{
    padding: 1em 25px;
    margin: 10px;
    height: 250px;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.comments-container-main{
    width: 400px;
}

.header{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(255,140,0,1) 100%);  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border: 1px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 60px;
  color: white;
}

.song-information{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(255,140,0,1) 100%);  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border: 1px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 60px;
}

.song-information > h4{
  
  color: white;
  padding: 10% 0%;
  margin: 0 0;
  /* width: 100%; */
}


/* .songs-header, .add-song, .signin-form, .signup-form{
    text-align: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.edit-song-form-specific, .add-song-form-specific, .signin-form-specific, .signup-form-specific{
    display: flex;
    flex-direction: column;
    gap: 30px;
} */

.home-container {
    text-align: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.user-links{
    display:flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.nav{
  padding:15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 60px);
  background-color: black;
}

.nav-links{
  display: flex;
  flex-direction: row;
  gap:15px;
}

a{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background: linear-gradient(42deg, rgba(120,0,255,1) 47%, rgba(0,1,98,1) 100%);
    color:lightgray;
  
    line-height: 25px;
    text-decoration: none;
  }

  li{
      display: flex;
      list-style: none;
      gap: 45px;
  }

  .AudioPlayer{
      position:fixed;
      bottom: 0;
      left: 0;
  }

  .comments-header {
    padding: 0 15px;
    color: white;
    background-color: black;
    margin: 0;
  }
  